# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named ...
env/
templates/[suport]/
static/[suport]/
app.py
prova.py
static-planning/
templates/pl-home.html
templates/sections/pl-footer.html
templates/sections/pl-header.html
templates/sections/pl-meta.html
templates/sections/pl-sidebar-menu.html
templates/sections/plModal-addTask.html