# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named ...
__pycache__/
classes/__pycache__/
classes/private.py
env/
flask_session/
static/[suport]/
templates/[suport]/
app.py
app_config_b2c.py
app_config.py
rompeflix.code-workspace