/*
* Title: Rempeflix
* Author: 011h
* Template: Netflix
* Version: 0.1
* Copyright 2022 011h
* Url: https://www.rompeflix.ml


Content table
--------------
01. Modal
02. Login




/* ----- 01. Modal ----- */
.modal-content{
    background-color: rgba(0,0,0,0.9); !important;
}
.modal-backdrop.show{
    opacity: 0.2 !important;
}
.modal-dialog{
    margin-top: 100px !important;
}
/* ----- 02. Login ----- */
.content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    position: relative;
    z-index: 1;
    height: 95vh;
}
.franja-central{
    width: 400px;
}
.box{
    overflow: hidden;
    border-radius: 4px;
    text-align: center;
}
.box-shadow{
    box-shadow: 0 7px 14px 0 rgba(60,66,87,.08), 0 3px 6px 0 rgba(0,0,0,.12);
}
.box-login{
    padding:40px;
    padding-bottom:50px;
}
.login-title{
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
.login-input{
    margin-top:20px;
    text-align: left;
}
.box label{
    margin-bottom:5px;
    color:#fff;
    font-size:14px;
    width: 100%;
    font-weight: 300;
}
.box input{
    background: #333;
    border: solid 0px #dcdcdc;
    margin-top:5px;
    margin-bottom:15px;
    color:#8c8c8c;
    font-size:14px;
    height: 40px;
    border-radius:4px;
    box-sizing: border-box;
    width: 100%;
    padding-left:15px;
}
.label-pass{
    display: inline-block;
    width: 40%;
    text-align: left;
}
.label-forgot{
    display: inline-block;
    width: 60%;
    text-align: right;
}
.label-forgot a{
    color:#a00000;
}
.box button{
    display: inline-block;
    padding: 6px 12px;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
}
.btn-access{
    background: #a00000;
    color: #fff;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', 'Roboto','Helvetica','Myriad Set Pro','Lucida Grande','Helvetica Neue','Helvetica','Arial','Verdana',serif;
    width: 100%;
}
.btn-signwith{
    background: rgb(3, 120, 124);
    color: #fff;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', 'Roboto','Helvetica','Myriad Set Pro','Lucida Grande','Helvetica Neue','Helvetica','Arial','Verdana',serif;
    width: 100%;
    border-radius: 4px;
    padding-top: 4px;
}
.btn-signwith a:hover{
    color: #fff !important;
}
.forgot-notice{
    width: 100%;
    text-align: left;
    color: #333;
    font-size: 14px;
}
.alert-zone{
    margin-top:25px;
    text-align: center;
    font-size: 14px;
    color:#333;
}
.alert-zone a{
    color:#a00000;
}
.alert-zone > .register{
    margin-bottom:20px;
}

.footer{
    width: 100%;
    height: 5vh;
    text-align: center;
    font-size: 14px;
    color:#666;
}
.footer a{
    color:#666;
    margin-left:10px;
    margin-right:10px;   
}
.footer a:hover{
    color:#333;  
}
.disabled-btn{
    background-color: #200000;
    color: rgba(255,255,255,0.4);
    cursor: default !important; 
    display: inline-block;
    padding: 6px 12px;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
}
.disabled-btn:hover{
    color:rgba(255,255,255,0.4)
}
