<div class="breadcrumb-area breadcrumb-modify-padding bg-black-3">
    <div class="container">
        <div class="in-breadcrumb">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-style-2">
                        <h2>Best Friend Forever</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list-2">
                            <li>45 Minutes</li>
                            <li>2021</li>
                            <li>Romantic</li>
                            <li class="active">U/A 18+</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>