<div class="breadcrumb-area breadcrumb-modify-padding bg-black-3">
    <div class="container">
        <div class="in-breadcrumb">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-style-2">
                        <h2>{{ data['title'] }}</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list-2">
                            <li>{{ data['duration'] }} minutes</li>
                            <li>{{ year }}</li>
                            <li>{{ data['squad'] }}</li>
                            <li class="active">{{ data['age'] }}</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>