<div class="col-md-12 footer">
    <div class="col-md-offset-2 col-md-8">
      <div class="col-md-offset-2 col-md-2">
        <a href="{{ url_for('index') }}"><img class="logo logo-footer" alt="Rompeflix Logo" title="Rompeflix Logo"  src="{{ url_for("static", filename="images/logo-dark.png") }}" /></a>
      </div>
      <ul class="col-md-2">
        <li class="footer-titol"><a>Contacto</a></li>
        <li>Calle Ávila 138, 4ª planta</li>
        <li>08018 Barcelona</li>
      </ul>
      <ul class="col-md-2">
        <li class="footer-titol"><a>Novedades</a></li>
        <li><a href="#">Video 01</a></li>
        <li><a href="#">Video 02</a></li>
        <li><a href="#">Video 03</a></li>
        <li><a href="#">Video 04</a></li>
        <li><a href="#">Video 05</a></li>
      </ul>
      <ul class="col-md-3">
        <li class="footer-titol"><a>Notícias</a></li>
        <li><a>Ya estamos aquí</a><span class="footer-message">Rompeflix es una realidad</span></li>
        <li><a>Trabajando duro día y noche</a><span class="footer-message">Por suerte, nuestro equipo es el mejor</span></li>
        <li><a>Los tests de servidores son increíbles</a><span class="footer-message">Será espectacular, ¿te lo vas a perder?</span></li>
      </ul>
    </div>
    <div class="copyright col-md-12">
      Copyright &copy 2022 Rompeflix
    </div>
  </div>