<header class="header-area bg-black section-padding-lr">
    <div class="container-fluid">
        <div class="header-wrap header-netflix-style">
            <div class="logo-menu-wrap">
                <!-- Logo -->
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for("static", filename="images/logo-light_old.png") }}" alt="" style="height:40px"></a>
                </div>
                <!-- Logo -->
                <div class="main-menu main-theme-color-four">
                    <nav class="main-navigation">
                        <ul>
                            <li><a href="/demodays">Demodays</a></li>
                            <li class="nav-not-link">Area content
                                <ul class="sub-menu">
                                    <li><a href="/content-BIM">BIM</a></li>
                                    <li><a href="/content-Building%20System">Building System</a></li>
                                    <li><a href="/content-Data">Data</a></li>
                                    <li><a href="/content-IT">Tech</a></li>
                                </ul>
                            </li>
                            <li><a href="/trainings">Company trainings</a>
                                <!--<ul class="sub-menu">
                                    <li><a href="#">LPS</a></li>
                                    <li><a href="#">Bimsync</a></li>
                                </ul>-->
                            </li>
                            <!--<li><a href="#" data-toggle="modal" data-target="#filter">Filter</a></li>-->
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="right-side d-flex">
                <div class="header-search-2">
                    <a class="search-toggle" href="#">
                        <i class="zmdi zmdi-search s-open"></i>
                        <i class="zmdi zmdi-close s-close"></i>
                    </a>
                    <div class="search-wrap-2" style="left:auto;right:0;">
                        <form action="{{ url_for('index') }}" method="get">
                            <input placeholder="Search" type="text" name="q" id="q">
                            <button class="button-search"><i class="zmdi zmdi-search"></i></button>
                        </form>
                    </div>
                </div>
                <style>
                .profile-initials{
                    width:36px;
                    height:36px;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    background-color: #fff;
                    color: #f4181c;
                    display: inline-flex;
                    font-weight: 500;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    font-size:0.9em;
                }
                </style>
                <div class="our-profile-area ">
                    <a href="#" class="our-profile-pc" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="rounded-circle profile-initials">{{ initials }}</span>
                        <!--<img src="{{ url_for('static', filename='images/users/base.png') }}" alt="">-->
                    </a>
                    <div class="dropdown-menu netflix-profile-style red">
                        <ul>
                            <li class="single-list" style="color:#f4181c;font-weight:500">{{ user }}</li>
                            <li class="single-list"><a href="/history">History</a></li>
                            <!--<li class="single-list"><a href="/my-list">My list</a></li>-->
                            <!--<li class="single-list"><a href="/graphcall">Display</a></li>-->
                            <li class="single-list"><a href="logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <!-- mobile-menu start -->
                <div class="mobile-menu d-block d-lg-none"></div>
                <!-- mobile-menu end -->
            </div>
        </div>
    </div>
</header>
    
<!-- Modal filter -->
{% include 'sections/modal-filter.html' %}