<header class="header-area bg-black section-padding-lr">
    <div class="container-fluid">
        <div class="header-wrap header-netflix-style">
            <div class="logo-menu-wrap">
                <!-- Logo -->
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for("static", filename="images/logo-light_old.png") }}" alt="" style="height:40px"></a>
                </div>
                <!-- Logo -->
                <div class="main-menu main-theme-color-four">
                    <nav class="main-navigation">
                        <ul>
                            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="/demodays">Demodays</a></li>
                            <li><a href="/tech-releases">Tech releases</a></li>
                            <li><a href="/components">Components</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="right-side d-flex">
                <div class="header-search-2">
                    <a class="search-toggle" href="#">
                        <i class="zmdi zmdi-search s-open"></i>
                        <i class="zmdi zmdi-close s-close"></i>
                    </a>
                    <div class="search-wrap-2" style="left:auto;right:0;">
                        <form action="{{ url_for('index') }}" method="get">
                            <input placeholder="Search" type="text" name="q" id="q">
                            <button class="button-search"><i class="zmdi zmdi-search"></i></button>
                        </form>
                    </div>
                </div>
                <!-- mobile-menu start -->
                <div class="mobile-menu d-block d-lg-none"></div>
                <!-- mobile-menu end -->
            </div>
        </div>
    </div>
</header>