<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
<meta name="description" content="Disfruta de 011h, películas y series en streaming en tu smart TV, consola, PC, Mac, móvil, tableta y más dispositivos.">
<meta property="image" content="{{ url_for("static", filename="images/mini-marca.png") }}">
<meta name="author" content="011h">

<link rel="apple-touch-startup-image" href="{{ url_for("static", filename="images/launch.png") }}">
<meta name="application-name" content="Rompeflix" />
<meta name="apple-mobile-web-app-title" content="Rompeflix" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<link rel="shortcut icon" href="{{ url_for("static", filename="images/favicon.ico") }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("static", filename="images/favicons/apple-touch-icon.png") }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename="images/favicons/favicon-32x32.png") }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("static", filename="images/favicons/favicon-16x16.png") }}">
<link rel="manifest" href="{{ url_for("static", filename="images/favicons/site.webmanifest") }}">

<!-- iPhone -->
<link rel="apple-touch-startup-image" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for("static", filename="images/startupImage/launch-1284x2778.png") }}"> 
<link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for("static", filename="images/startupImage/launch-1170x2532.png") }}"> 
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for("static", filename="images/startupImage/launch-1242x1688.png") }}"> 
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for("static", filename="images/startupImage/launch-828x1792.png") }}"> 
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for("static", filename="images/startupImage/launch-1125x2436.png") }}"> 
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="{{ url_for("static", filename="images/startupImage/launch-1242x2208.png") }}"> 
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for("static", filename="images/startupImage/launch-750x1334.png") }}">

<!-- iPad -->
<link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for("static", filename="images/startupImage/launch-2048x2732.png") }}">
<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for("static", filename="images/startupImage/launch-1668x2388.png") }}">
<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for("static", filename="images/startupImage/launch-1668x2224.png") }}">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="{{ url_for("static", filename="images/startupImage/launch-1536x2048.png") }}">

<link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="images/favicon.ico") }}">