<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
<meta name="description" content="Disfruta de 011h, películas y series en streaming en tu smart TV, consola, PC, Mac, móvil, tableta y más dispositivos.">
<meta property="image" content="{{ url_for("static", filename="images/mini-marca.png") }}">
<meta name="author" content="011h">

<link rel="apple-touch-startup-image" href="{{ url_for("static", filename="images/launch.png") }}">
<meta name="application-name" content="011hbo" />
<meta name="apple-mobile-web-app-title" content="011hbo" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<link rel="shortcut icon" href="{{ url_for("static", filename="images/favicon.ico") }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("static", filename="images/favicons/apple-touch-icon.png") }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename="images/favicons/favicon-32x32.png") }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("static", filename="images/favicons/favicon-16x16.png") }}">
<link rel="manifest" href="{{ url_for("static", filename="images/favicons/site.webmanifest") }}">


<link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="images/favicon.ico") }}">