<div id="signin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="box box-login">
                <div class="login-title">Login to your account</div>
                
                <form class="form-signin" action="#" method="post">
                    <div class="login-input">
                        <label for="email">User</label>
                        <input type="text" id="email" name="user" placeholder="gavin" required="">
                        <label for="password"><div class="label-pass">Password</div></label>
                        <input type="password" id="password" name="password" placeholder="********" required="">
                    </div>
            
                    <div class="submit-zone">
                        <button class="btn-access disabled-btn" type="submit">Login</button>
                        
                        <a href="{{ auth_url }}" class="btn-signwith" style="margin-top:15px">
                            <svg style="height: 15px;margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23"><path fill="#ffffff" d="M1 1h10v10H1z"/><path fill="#ffffff" d="M12 1h10v10H12z"/><path fill="#ffffff" d="M1 12h10v10H1z"/><path fill="#ffffff" d="M12 12h10v10H12z"/></svg>
                             Login with Microsoft</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>