<div class="slider-area bg-black">
    <div class="container-fluid p-0">
        <div class="hero-slider-four dot-style-1 nav-style-1">
            
            
            {% for item in sliderMain -%}
            <div class="single-hero-slider-wrap single-animation-wrap slider-height-hm4 bg-image-hm4 slider-bg-color-black d-flex align-items-center slider-bg-position-1 bg-black"
            style="background-image:url({{ item['image'] }});background-position:{{item['image_position']}}">
                <div class="slider-content-hm4 slider-animated">
                    <h1 class="title animated">{{ item['title'] }}</h1>
                    <div class="sub-title-time-wrap">
                        <span class="sub-title animated">{{ item['area'] }}</span>
                    </div>
                    <div class="slider-button">
                        <a href="{{ url_for('movieDetails', id=item['id']) }}" class="btn-style-hm4 animated">Watch Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>