<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta data -->
    {% include 'sections/metadata.html' %}

    <!-- Títol i Favicons -->
    <title>Rompeflix. Ver series en línea</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/material-design-iconic-font.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/plugins.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <link rel="stylesheet" href="//www.mesural.com/lib/bootstrap/bootstrap.css">
    <script src="{{ url_for("static", filename="js/vendor/modernizr-3.6.0.min.js") }}"></script>
    
    <!-- CSS Custom -->
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/style.css") }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/responsive.css") }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/main.css") }}" media="screen">

    <!-- Scripts Libraries -->
    <!-- Scripts custom -->
</head>

<body>
    {{ resp }}
</body>
</html>