<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta data -->
    {% include 'sections/metadata.html' %}

    <!-- Títol i Favicons -->
    <title>Rompeflix. Ver series en línea</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/material-design-iconic-font.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/plugins.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <link rel="stylesheet" href="//www.mesural.com/lib/bootstrap/bootstrap.css">
    <script src="{{ url_for("static", filename="js/vendor/modernizr-3.6.0.min.js") }}" defer async></script>
    
    <!-- CSS Custom -->
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/style.css") }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/responsive.css") }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/main.css") }}" media="screen">

    <!-- Scripts Libraries -->
    <!-- Scripts custom -->
</head>

<body>
    <div class="main-wrapper">
        <!-- Header -->
        {% include 'sections/header.html' %}
        
        <div class="movie-list-area section-ptb-50 bg-black-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-12 me-auto ms-auto">
                        <div class="movie-list-top-bar">
                            <div class="movie-list-title">
                                <h2 class="title">History</h2>
                            </div>
                            <!--<div class="movie-list-clear">
                                <button class="Watch-list-clear-btn" type="button">Clear History</button>
                            </div>-->
                        </div>
                        <div class="movielist-wrap">
                            <!-- List of movies -->
                            {% if initial == 0 %}
                                {% for item in content -%}
                                <div class="single-movielist">
                                    <div class="movielist-img-content">
                                        <div class="movielist-img">
                                            <a href="{{ url_for('movieDetails', id=item[0]['id']) }}">
                                                <img src="static/images/history/{{ item[0]['cover'] }}" alt="">
                                                <i class="zmdi zmdi-play play-btn-style"></i>
                                            </a>
                                        </div>
                                        <div class="movielist-content">
                                            <h3 class="title"><a href="{{ url_for('movieDetails', id=item[0]['id']) }}">{{ item[0]['title'] }}</a></h3>
                                            <p>{{ item[0]['squad'] }}</p>
                                        </div>
                                    </div>
                                    <div class="movielist-close">
                                        <p>{{ item[1] }}</p>
                                        <!--<a class="watchlist-close-btn" href="#"><i class="zmdi zmdi-close"></i></a>-->
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                                <div class="no-history">Your demoday history list is empty</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'sections/footer.html' %}

    <!-- JavaScripts basics -->
    <script src="{{ url_for("static", filename="js/vendor/jquery-3.5.1.min.js") }}" defer async></script>
    <script src="{{ url_for("static", filename="js/vendor/jquery-migrate-3.3.0.min.js") }}" defer async></script>
    <script src="{{ url_for("static", filename="js/popper.min.js") }}" defer async></script>
    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}" defer async></script>
    <script src="{{ url_for("static", filename="js/plugins.js") }}" defer async></script>
    <script src="{{ url_for("static", filename="js/ajax-mail.js") }}" defer async></script>
    <script src="{{ url_for("static", filename="js/main.js") }}" defer async></script>
    <!-- JavaScripts custom -->
    <script src="{{ url_for("static", filename="js/script.js") }}" defer async></script>
    <!-- Scripts custom -->
</body>
</html>