<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta data -->
    {% include 'sections/metadata.html' %}

    <!-- Títol i Favicons -->
    <title>Rompeflix. Ver series en línea</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/material-design-iconic-font.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/plugins.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <link rel="stylesheet" href="//www.mesural.com/lib/bootstrap/bootstrap.css">
    <script src="{{ url_for("static", filename="js/vendor/modernizr-3.6.0.min.js") }}"></script>
    
    <!-- CSS Custom -->
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/style.css") }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/responsive.css") }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/main.css") }}" media="screen">

    <!-- Scripts Libraries -->
    <!-- Scripts custom -->
</head>

<body>
    <div class="main-wrapper">
        <!-- Header -->
        {% include 'sections/header.html' %}

        <!-- Slider -->
        {% include 'sections/slider-main.html' %}

        <!-- Slider: Latest Movies -->
        {% include 'sections/slider-content.html' %}

        <!-- Slider: Latest Horror Series -->
        {% include 'sections/slider-content.html' %}

        <!-- Slider: Latest Old Movies -->
        {% include 'sections/slider-content.html' %}
    </div>

    <!-- Footer -->
    {% include 'sections/footer.html' %}

    <!-- JavaScripts basics -->
    <script src="{{ url_for("static", filename="js/vendor/jquery-3.5.1.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/vendor/jquery-migrate-3.3.0.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/popper.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/plugins.js") }}"></script>
    <script src="{{ url_for("static", filename="js/ajax-mail.js") }}"></script>
    <script src="{{ url_for("static", filename="js/main.js") }}"></script>
    <!-- JavaScripts custom -->
    <script src="{{ url_for("static", filename="js/script.js") }}"></script>
    <!-- Scripts custom -->
</body>
</html>